@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
    --font:'Poppins', sans-serif;
  }
  * {
     font-family:var(--font);
      text-decoration: none;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
.no-mobile-screen {
    display: none;
}
  @media (min-width:450px) and (max-width:1024px) {
      body {
          height: 100vh;
          background-color: var(--background);
      }
      h1 {
          font-weight: bold;         
          color: white;
          font-size: 26px;
      }
      h1::before {
          content: url(../images/log-in.svg);
      }
      .box-container:first-child p {
        color: var(--text-base);
        font-weight: bold;
        font-size: 15px;     
    } 
    .box-container {
        margin: 10px;
    }
    .box-container:first-child{
        margin-top: 40px;
    }
    .box-container img {
        margin-bottom: 15px;
    } 
      /* flex box */
     .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
 
    /*termino flex box */

    /* conteudo input */
    .label{
        color: var(--text-base);
    }
    .box-container input {
        width: 310px;
        height: 32px;
        border-radius: 5px;
        border: 1px solid var(--text-base);
        background-color: var(--form-background);
        color: white;
    }
    #email::placeholder{
        content: url(../images/mail.svg);
        margin: auto;
        padding: 5px 5px 5px 8px;
        text-align: center;
    }
    #senha::placeholder{
        content: url(../images/lock.svg);
        margin: auto;
        padding: 5px 5px 5px 8px;
        text-align: center;
    }
  /* #email:focus-within {
       border: 2px solid var(--primary-color);

   }
   #senha:focus-within {
    border: 1px solid var(--primary-color);
   }
   */
   #lembrar {
       display: none;
   }
   #lembrar + #check::before  {
       content: " ";
       height: 17px;
       width: 17px;
       background-color: var(--background);
       border: 1px solid grey;
       border-radius: 5px;
       display: inline-block;
       margin-right: 7px;
       vertical-align: middle;
       margin-bottom: 2px;
       
   }
   #lembrar:checked + #check::before {
       background-color: var(--primary-color);
       content: url(../images/check.svg);
   }
   #check {
       color: var(--text-base);
       margin-right: 43px;
       
   }
   #check-box{
       font-size: 14px;
       
   }
   #check-box a {
       color: var(--primary-color);
       
   }
   button {
       padding: 10px;
       width: 311px;
       border-radius:6px;
       background-color: var(--primary-color);
       font-weight: bold;
       font-size: 16px;
   }
    .box-container:last-child p, a{
        color: var(--primary-color);
        font-size: 13.5px;

    }
    .box-container:last-child a {
        font-weight: bold;

    }
  }


@media all and (min-width:1025px) and (max-width:1900px){
    .mobile {
        display: none;

    }
    .no-mobile-screen { 
       display: block;
       width: 100vw;
       height: 100vh;
       background: var(--background);
    }
    .container-organizador section{
        float: right;
        
        background-image: url(../images/side-image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left bottom;
        width: 50vw;
        height: 100vh;
    }
    .container-organizador:first-child {
        float: left;
        width: 50vw;
        height: 100vh
    }
    .field-container {
        width: 560px;
        height: 500px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 120px;
        background-color: var(--form-background);
        border: none;
        border-radius: 5px;
    }
    .cabecalho{
        position: relative;
        left:10px;
        top: 25px;
    }
    form {
        display: flex;
    }
    .flex-cont {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .field-box-container {
       margin-top: 28px;
    }
    .field-box-container:first-child h1 {
        color: var(--text-title);

    }
    .field-box-container:first-child h1::before {
        content: url("../images/log-in.svg");
    }
    .field-box-container:first-child p {
        color: var(--text-base);
    }
    
    
    #email , #senha {
        color: white;
        width: 340px;
        align-self: center;
        padding: 8px;
        background-color: var(--form-background);
        border: 1px solid var(--text-base);
        border-radius: 5px;
        margin-top: 8px;
        
    }
    #email::placeholder{
        content: url(../images/mail.svg);
    }
    #senha::placeholder{
        content: url(../images/lock.svg);
    } 

    label {
        color: var(--text-base);
    }
    a{
        color: var(--primary-color);
    }
  
    p:last-child {
        color: var(--primary-color);
    }
    #lembrar {
        opacity: 0;
        position: relative;
        left: 20px;
        
    }
    #check-box {
        margin-right: 15px;
    }
    #check {
        margin-right: 55px;
    }
    #lembrar + #check::before {
        content: " ";
        height: 18px;
        width: 18px;
        background-color: var(--background);
        border: 1px solid grey;
        border-radius: 5px;
        display: inline-block;
        margin-right: 7px;
        vertical-align: middle;
        margin-bottom: 2px;
    }
    #lembrar:checked + #check::before {
        background-color: var(--primary-color);
        content: url(../images/check.svg);
    }
    button {
        padding: 15px;
        background-color: var(--primary-color);
        width: 340px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        color: rgba(90, 49, 49, 0.753);
        transition:transform 0.5s ease;
    }
    button:hover {
        transform: scale(1.1);
        transition-duration: 0.5s;
    }
    .field-box-container:last-child {
        margin-top: 10px;
        font-size: 16px;
    }
    .field-box-container:last-child a {
        font-size: 17px;
    }
    .field-box-container:nth-of-type(4) a,
    .field-box-container:nth-of-type(4) #check{
        font-size: 15px;
    }
}